<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据可视化</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body > 
    <header>
        <h1>电力数据可视化中心</h1>
        <div class="showTime">123</div>
        <script src="static/js/getTime.js"></script>
    </header>
    <!-- 页面主体 -->
    <section class="mainbox">
        <!-- 左 -->
        <div class="column">
            <div class="panel bar">
                <h2>天然气年发电量</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel line1">
                <h2>近三年月电力碳排放</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel pie">
                <h2>过去28天发电量份额</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <!-- 中 -->
        <div class="column">
            <!-- 数据模块 -->
            <div class="no">
                <div class="no-hd">
                    <ul>
                        <li class="num1">1234567</li>
                        <li class="num2">7654321</li>
                    </ul>
                </div>
                <div class="no-bd">
                    <ul>
                        <li>需求</li>
                        <li>供应</li>
                    </ul>
                </div>
            </div>
            <!-- 地图模块 -->
            <div class="map">
                <div class="map1"></div>
                <div class="map2"></div>
                <div class="map3"></div>
                <div class="chart"></div>
            </div>
        </div>
        <!-- 右 -->
        <div class="column">
            <div class="panel bar2">
                <h2>近几年每年无煤时间</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel line">
                <h2>过去数天天然气发电量</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel pie1">
                <h2>过去12个月发电量份额</h2>
                <div class="chart"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </section>
    <script src="static/js/flexible.js"></script>
    <script src="static/js/echarts.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/china.js"></script>
    <!-- <script src="static/js/index.js"></script> -->
    <script src="static/js/click.js"></script>
</body>
</html>