<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/z1.css">
</head>
<body>
    <header>
        <h1>电力数据可视化中心</h1>
        <div class="showTime">123</div>
        <script src="static/js/getTime.js"></script>
    </header>
    <h3 id="help">页面建设中...</h3>
    <script src="static/js/flexible.js"></script>
</body>
</html>