<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/z1.css">
</head>
<body>
    <header>
        <h1>电力数据可视化中心</h1>
        <div class="showTime">123</div>
        <script src="static/js/getTime.js"></script>
    </header>
    <section>
        <div class="row">
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x1"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x2"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x3"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="row">
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x4"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x5"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x6"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div class="row">
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x7"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                
                <h2>天然气年发电量</h2>
                <div class="chart x8"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>天然气年发电量</h2>
                <div class="chart x9"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </section>
    <script src="static/js/flexible.js"></script>
    <script src="static/js/echarts.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/z1.js"></script>
</body>
</html>